---
import Layout from "../../../layouts/Layout.astro";
import { events, slugify } from "../../../utils/events";
import ReturnArrow from "../../../../public/icons/return-arrow.svg";
import SectionContainer from "../../../components/SectionContainer.astro";

export function getStaticPaths() {
  return events.map((event) => ({
    params: { slug: slugify(event.title) },
  }));
}

const { slug } = Astro.params;

const event = events.find((e) => slugify(e.title) === slug);

if (!event) {
  throw new Error(`Evento no encontrado con slug: ${slug}`);
}
---

<Layout>
  <SectionContainer>
    <a
      href="/eventos"
      class="flex gap-2 items-center hover:underline text-base my-4"
      ><ReturnArrow /> Volver a la Galeria
    </a>
    <h1 class="text-4xl font-bold mb-4">{event.title}</h1>
    <img class="w-full rounded-lg mb-6" src={event.image} alt={event.title} />
    <p class="text-base text-white/60">{event.description}</p>
  </SectionContainer>
</Layout>
