---
import { NAV_OPTIONS } from "../utils/constans";
---

<header
  class="w-full fixed top-0 z-20 bg-transparent backdrop-blur-sm transition-colors duration-300"
>
  <nav class="flex justify-between items-center max-w-4xl mx-auto p-4 lg:px-0">
    <a href="/">
      <img
        src="/logo-robles.webp"
        alt="Logo Los Robles"
        class="rounded-full size-14 hover:opacity-50 transition duration-300"
      />
    </a>

    <!-- Botón hamburguesa (solo en mobile) -->

    <input id="burger" type="checkbox" class="peer hidden" />
    <label class="burger sm:hidden" for="burger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- Menú normal en desktop -->
    <div class="hidden sm:flex items-center gap-4">
      {
        NAV_OPTIONS.map((option: any) => (
          <a class="minimal-hover" href={option.href} aria-label={option.title}>
            {option.title}
          </a>
        ))
      }
    </div>

    <!-- Menú desplegable (mobile) -->
    <div
      class="absolute top-full left-0 w-full bg-black backdrop-blur-sm text-white flex flex-col items-center gap-4 transition-all duration-300 h-0 overflow-hidden peer-checked:h-screen sm:hidden z-50 peer-checked:py-4"
    >
      {
        NAV_OPTIONS.map((option: any) => (
          <a
            class="minimal-hover text-lg w-full text-center"
            href={option.href}
            aria-label={option.title}
          >
            {option.title}
          </a>
        ))
      }
    </div>
  </nav>
</header>

<style>
  .minimal-hover {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 4px 2px;
  }

  .minimal-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: width 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
  }

  .minimal-hover:hover::after {
    width: 100%;
  }

  header {
    animation-name: nav-animation;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }

  @keyframes nav-animation {
    0% {
      background: transparent;
      backdrop-filter: blur(0);
    }
    100% {
      background: #0005;
      backdrop-filter: blur(10px);
    }
  }

  .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    scale: 0.7;
    transition: opacity 0.3s;
  }

  .burger:active {
    opacity: 0.5;
  }

  .burger span {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:first-child {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:last-child {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  input:checked + .burger span:first-child {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }

  input:checked + .burger span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  input:checked + .burger span:last-child {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const burger = document.getElementById("burger");
    const navLinks = document.querySelectorAll("nav a");

    if (window.innerWidth < 640) {
      navLinks.forEach((link) => {
        link.addEventListener("click", () => {
          if (burger instanceof HTMLInputElement && burger.checked)
            burger.checked = false;
        });
      });
    }
  });
</script>
